*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
.header{
  padding: 45px ;
  background-color: blue;
  color: aliceblue;
  color: rgb(100, 100, 100);
}
.title{
  text-align: center;
}
main >section#section > div.contenedor > div.img,
main >section#section >  div.contenedor > div#img,
section.section{
  background-image: url( Fotografa.jpg);
  background-size: cover;
  /* background-image: linear-gradient(180deg, rgba(42, 245, 152,0.6) 0%, rgba(0, 158, 253, 0.6) 10%),url(Fotografa.jpg); */
  background-image: linear-gradient(120deg, rgba(161, 196, 253,0.6) 0%, rgba(194, 233, 251,0.6) 100%),url(Fotografa.jpg);
}
.img,#img{
  width: 500px;
  height: 500px;
  display: inline-block;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
section.section{
  width: 500px;
  height: 500px;
}
.titulo{
  font-size: 30px;
  margin-top: 250px;
}
p{
  color: #000;
  font-size: 30px;
}

main{
  height: 300vh;
}
.atachement{
  background-attachment:fixed ;
  width: 500px;
  height: 500px;
}
.img{
  width: 500px;
 height: 500px;
 display: inline-block;
}